<div class="container">
    <br>
    <center><h1>Agentes</h1></center>
    <br>
    <form>
        <div class="form-group">
            <label class="col-form-label" for="formGroupExampleInput">Pesquisar</label>
            <input type="text" class="form-control pes" id="formGroupExampleInput" placeholder="Pesquisar" name="search" ng-model="search">
        </div>
        <div class="form-group">
        </div>
    </form>
    <a href="#!/registrarAgente">
        <button class="btn btn-success">Novo</button>
    </a>
    <hr>
    <div class="row">
        <div class="col-md-3" ng-repeat="agente in agentes">
            <div class="card">

                <div class="card-header" ng-bind="agente.machineName || agente.machineNickname"></div>

                <div class="card-body">
                    <p class="card-text" id="{{agente.generatedKey}}">Key: {{agente.generatedKey}}
                     <button class="btn btn-default" data-clipboard-target="#{{agente.generatedKey}}">
                        <img src="../Clipboard.svg" width="20"alt="Copy to clipboard">
                    </button></p>
                    <p class="card-text">Apelido: {{agente.machineNickname}}</p>
                    <p class="card-text">Colaborador: {{agente.collaborator.name}}</p>

                </div>
                <div class="card-footer">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-primary"  href="#!/dashboard/{{agente.id}}">Gráfico</a>
                        <button class="btn btn-default ">Editar</button>
                        <button class="btn btn-default" ng-click="excluir(agente)">Excluir</button>
                    </div>
                </div>
            </div>

        </div>
    </div>



</div>