<div class="container">
        <br>
        <center><h1>Alertas</h1></center>
        <br>
    <form>
        <div class="form-group">
            <label class="col-form-label" for="formGroupExampleInput">Pesquisar</label>
            <input type="text" class="form-control" ng-change="pesquisar(search)" id="formGroupExampleInput" placeholder="Pesquisar" name="search" ng-model="search">

        </div>
    </form>

    <a href="#!/registrarAlerta">
        <button class="btn btn-success btnAdicionar">Novo Alerta</button>
    </a>
    <div class="fundo">
        <table class="table table-bordered">
            <thead>
                <tr>

                    <th scope="col">Nome</th>
                    <th scope="col">Métrica</th>
                    <th scope="col">Grupo/Agente</th> 
                    
                    <th scope="col">Excluir</th>
                </tr>
            </thead>
            <tbody ng-repeat="alerta in alertas">
                <tr>

                    <td>{{alerta.name}}</td>
                    <td>{{alerta.metric}}</td>
                    <td ng-bind="alerta.machine.machineNickname || alerta.group.description"></td>
                    
                    
                    <td>
                        <button type="button" class="btn btn-danger btnExcluir" ng-click="excluir(alerta)" value="Deletar">Excluir</button>
                    </td>
                </tr>

            </tbody>
        </table>
        <div class="centralizar">
            <nav aria-label="Page navigation ">
                <ul class="pagination justify-content-center" uib-pagination ng-change="avancarPagina()" ng-model="nPagina" boundary-link-numbers="true"
                    items-per-page="take" total-items="paginas" max-size="5" rotate="false" num-pages="numPages" previous-text="Anterior"
                    next-text="Próximo" first-text="&laquo;" last-text="&raquo;"></ul>
            </nav>
        </div>
    </div>
</div>