<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="">CWIMonitor</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      
      <li class="nav-item">
        <a class="nav-link" ng-if="logado" href="/#!/grupo">Grupos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ng-if="logado" href="/#!/agente">Agentes</a>

      </li>
      <li class="nav-item">

        <a class="nav-link" ng-if="logado" href="/#!/alerta">Alerta</a>
      </li>

    </ul>

    <a class="nav-link"  ng-if="logado" ng-click="logout()"> <img src="../imgCard/logout.png" width="25" alt=""></a>

  </div>
</nav>