<div class="container-fluid">
    <div class="menu">
        <button type="button" ng-click="real()"  id="7"class="btn btn-dark toggle">Real</button>
        <button type="button" ng-click="hora(1)" id="1" class="btn btn-default toggle">15min</button>
        <button type="button" ng-click="hora(6)" id="6" class="btn btn-default toggle">30min</button>
        <button type="button" ng-click="hora(2)" id="2" class="btn btn-default toggle">1h</button>
        <button type="button" ng-click="hora(3)" id="3" class="btn btn-default toggle">6h</button>
        <button type="button" ng-click="hora(4)" id="4" class="btn btn-default toggle">12h</button>
        <button type="button" ng-click="hora(5)" id="5" class="btn btn-default toggle">1 dia</button>


    </div>

    <ul class="list-group">
        <li class="list-group-item">Memória RAM total: {{memoriaT}}</li>
        <li class="list-group-item">Número de núcleos do processador: {{nucleosT}}</li>
    </ul>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div fusioncharts width="100%" type="area2d" dataSource="{{cpu}}"></div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
            <div class="col-lg-8">
                    <div class="card">
                        <div class="card-body" >
                            <div fusioncharts width="100%" type="area2d" dataSource="{{memoria}}"></div>
                        </div>
                    </div>
            </div>

            <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body" >
                            <div fusioncharts width="100%" type="doughnut3D" dataSource="{{disco}}"></div>
                        </div>
                    </div>
            </div>
        
    </div>


</div>