<button type="button" ng-click="real()" class="btn btn-light">Real</button>
<button type="button" ng-click="hora(1)" class="btn btn-light">15min</button>
<button type="button" ng-click="hora(2)" class="btn btn-light">1h</button>
<button type="button" ng-click="hora(3)" class="btn btn-light">6h</button>
<button type="button" ng-click="hora(4)" class="btn btn-light">12h</button>
<button type="button" ng-click="hora(5)" class="btn btn-light">1 dia</button>
<button type="button" ng-click="hora(6)" class="btn btn-light">7 dias</button>
<button type="button" ng-click="hora(7)" class="btn btn-light">30 dias</button>

<div class="col-lg-12">
        
<div fusioncharts width="1000" height="400" type="area2d" dataSource="{{cpu}}"></div>
</div>
<div class="col-lg-12">
<div fusioncharts width="1000" height="400" type="area2d" dataSource="{{memoria}}"></div>
</div>
<div class="col-lg-12">
<div fusioncharts width="1000" height="400" type="area2d" dataSource="{{disco}}"></div>
</div>