<div class="container">
  <center> <img src="https://www.cwi.com.br/Content/Site/img/logo_cwisoftware.png"class="d-inline-block align-top" alt="">
    <h1 class="title">Monitor</h1>
   </center>
  <div class="login">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Login</div>
      <div class="card-body">
        <form novalidate name="formLogin">
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input class="form-control" id="exampleInputEmail1" ng-model="usuario.email" type="email" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Senha</label>
            <input class="form-control" id="exampleInputPassword1" ng-model="usuario.senha" type="password" placeholder="Password">
          </div>

          <a class="btn btn-primary btnFormulario btn-block" href ng-click="login(usuario)">Login</a>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="/#!/registrar">Criar Conta</a>          
        </div>
      </div>
    </div>
  </div>
</div>